<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>TESTIFICATION</title>
  {% endblock %}
</head>

<body>
    {% block upper %}
		<hr>
 		{% if user.is_authenticated %}
     		<p>User: {{ user.get_username }}</p>
     		<p><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>   
   		{% else %}
     	<p><a href="{% url 'login'%}?next={{request.path}}">Login</a></p>   
   		{% endif %} 
		<hr>
    {% endblock %}
          
     {% block content %}{% endblock %}
</body>
</html>