<h3> group_text ={{ question.group }}  </h3> 
<br>
<br>


{% if question %}
    <ul>
    
    <p> <b>{{question.question_text}} </b></p>

    {% comment %}
    <p> {% url 'test_form:answer' question.id %} </p>
    {% endcomment %} 

    <form action="{% url 'test_form:answer' question.id %}" method="post">

    {% csrf_token %}
    {% for choice in choice_list %}
        <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Next">
    </form>
   

    

    
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}



